#userLogin {
     overflow: auto;
    margin-top: 100px;
    box-shadow: 0 10px 100px 0 black, 0 10px 100px 0 black;
    border-radius: 60px;
    opacity: .9;
}
.card{
    border-radius: 60px;
}

#userRegister {

    box-shadow: 0 10px 100px 0 black, 0 10px 100px 0 black;
}

#registerContainer {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 100px;
    margin-top: 100px;
}

body {
    overflow: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(http://classicrock.cms.vipology.com/wp-content/uploads/sites/4/brickwall-background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background: linear-gradient(rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.1)), url(http://classicrock.cms.vipology.com/wp-content/uploads/sites/4/brickwall-background.jpg);

}

main {
    flex: 1 0 auto;
}

#userEmail:focus,
#userFirstName:focus,
#userLastName:focus,
#registerEmail:focus,
#userPassword:focus,
#registerPassword:focus {
    border-bottom: 1px solid #b0bec5;
    -webkit-box-shadow: 0 1px 0 0 #b0bec5;
    -moz-box-shadow: 0 1px 0 0 #b0bec5;
    box-shadow: 0 1px 0 0 #b0bec5;
}

.active {
    color: #b0bec5!important;
}

.dropdown-content li>span {
    color: black !important;
}


body1
{
    background: #000;
}
.unbreakable-container
{
    position: relative;
    bottom: 10px;
    left: 20px;
}

.unbreakable
{
    font-family: 'Anton', sans-serif;
    line-height: 1;

    letter-spacing: -.07em;

    color: #fff;
}

.ks
{
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    line-height: 1;

    margin-top: -11px;

    -webkit-transition: all .3s ease-in-out;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 3s;
    -webkit-transform: translateX(-1000%);
        -ms-transform: translateX(-1000%);
            transform: translateX(-1000%);
    letter-spacing: -1px;
    text-transform: uppercase;

    color: #fc0;
}
#card-image{
    border-radius: 60px;
}
.animate .ks
{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

span1
{
    font-family: 'Anton', Helvetica, sans-serif;
    font-size: 40px;

    text-transform: uppercase;

    opacity: 0;
    color: #fff;

    filter: alpha(opacity=0);
}

.able
{
    -webkit-transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
            transition: all .3s cubic-bezier(.190, 1.000, .220, 1.000) 2.3s;
    letter-spacing: -.07em;
}

.break
{
    -webkit-transition: all .3s ease-in-out 2s;
            transition: all .3s ease-in-out 2s;
    letter-spacing: -.07em;
}

.un
{
    -webkit-transition: all .3s ease-in-out 1.7s;
            transition: all .3s ease-in-out 1.7s;
    letter-spacing: -.07em;
}

.animate .un
{
    font-size: 40px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .break
{
    font-size: 60px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);
}

.animate .able
{
    font-size: 80px;

    -webkit-transform: scale(1.5,1.5);
        -ms-transform: scale(1.5,1.5);
            transform: scale(1.5,1.5);

    opacity: 1;

    filter: alpha(opacity=100);

}

footer{
    opacity: .9;
}

#questions {
    overflow: auto;
    display: flex;
    border-radius: 60px;
    opacity: .9;

}

@media screen and (max-width: 750px) and (min-width: 200px) {
    .test{
        display: none;
    
    }
    #userLogin{
        text-align: center;
        margin-top: 5px;
        margin: 5px 5px 5px 5px;
        /*overflow: auto;*/
        border-radius: 40px;
}
.card{
       margin-top: 5px;
        margin: 5px 5px 5px 50px;
        /*overflow: auto;*/
        border-radius: 40px;
}
}
