#userLogin {
    margin-top: 100px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.7), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
}

#userRegister {
    margin-top: 50px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.7), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
}

#registerContainer {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 100px;
}

body {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(http://classicrock.cms.vipology.com/wp-content/uploads/sites/4/brickwall-background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background: linear-gradient(rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.1)), url(http://classicrock.cms.vipology.com/wp-content/uploads/sites/4/brickwall-background.jpg);

}

main {
    flex: 1 0 auto;
}

#userEmail:focus,
#userFirstName:focus,
#userLastName:focus,
#registerEmail:focus,
#userPassword:focus,
#registerPassword:focus {
    border-bottom: 1px solid #b0bec5;
    -webkit-box-shadow: 0 1px 0 0 #b0bec5;
    -moz-box-shadow: 0 1px 0 0 #b0bec5;
    box-shadow: 0 1px 0 0 #b0bec5;
}

.active {
    color: #b0bec5!important;
}

.dropdown-content li>span {
    color: black !important;
}
