html {
    min-height: 100%;
}

#userImage {
    border-radius: 60px;
    /*padding: 80px;*/
    margin-top: 50px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.7), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    opacity: .6;

}

#searchNav,
#main,
#logout
        {
            border:1px black;
        color: teal;
        }
.userInfo {
    padding: 20px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.7), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-color: grey;
    opacity: .9;
    border-radius: 60px;
    border: solid 1px #f06d06;
}

.imageBox {
    margin-left: 20px;

}
.img{
    height: 100px;
    border: solid 1px #f06d06;
}

#editProfile #deleteModal {

    margin-top: 5px;

}



body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-image: url(http://clipart-library.com/images/6Ty5GE6ac.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background: linear-gradient(rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.1)), url(http://clipart-library.com/images/6Ty5GE6ac.jpg);

}

main {
    flex: 1 0 auto;
    min-height: 100%;
}

#searchCard,
#stats {
    border-radius: 60px;
    margin-top: 40px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.7), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    opacity: .9;
    border-radius: 60px;
    border: solid 1px #f06d06;

}
footer{
    opacity: .9;
}

#searchUser{
    border-radius: 60px;
}

#locationSearchInput:focus,
#profileSearchInput:focus {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 black;
    -moz-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black;
}

.active {
    color: black!important;
}

.footerLink {
    color: black;
}


[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    background-color: #90a4ae;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid #90a4ae;
}

.collapsible-header{
    background-color: #008CBA; /* Green */
    border: none;
    margin: 10px 10px 10px 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    border-radius: 9px;
    font-size: 16px;

}
#stats {
    border-radius: 60px;
    opacity: .9;
    overflow: scroll;
    /*position: absolute;
    */
    height: 550px;
    margin-bottom: 10px;

    margin-right: 10px;
    border-radius: 60px;
    border: solid 1px #f06d06;
}

#searchCard {
    opacity: .9;
    border-radius: 60px;
    border: solid 1px #f06d06;

}

#profileContents {
    opacity: .6;
    margin-top: 60px;
    margin-bottom: 5%;

    border-radius: 60px;

}

#editProfile{
    border-radius: 60px;
}
#editImages{
    border-radius: 60px;
}
#deleteBtn{
    border-radius: 60px;
}

#siteInfo {
    margin-top: 10%;
}

#body3 {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 6px 6px 6px 6px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#uploader {
    -webkit-apperance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
}

#modal2 {
    height: 500px;
    /*display: flex;*/
    text-align: center;
    background-image: url(http://clipart-library.com/images/6Ty5GE6ac.jpg)
}

#filebutton {}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    height: 100%;
  
    
    
}


@media screen and (max-width: 500px) and (min-width: 200px) {
    img {
       
        width: 200px;
        margin: 5px 5px 5px 5px;
    }

}




.footLink {
    margin-top: 20px;
}