html {
    min-height: 100%;
}


.contact,
.view {
    margin-bottom: 2%;
}

.card-content {
    padding: 1%;
}

.userCard {
    width: 500px;
    position: absolute;
    /*left: -75%;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    overflow: visible;
}

#userCard {
    background-color: black;
    color: white;
}

#userImage {
    padding: 80px;
    margin-top: 50px;
    box-shadow: 0 10px 25px 0 black, 0 10px 100px 0 black;
    border-radius: 60px;
}

#card-image {
    border-radius: 90px;
    margin: 2px 2px 2px 2px;

}

.userInfo {
  
    box-shadow: 0 10px 25px 0 black, 0 10px 25px 0 black;
    background-color: grey;
    opacity: .9;
    border-radius: 60px;
}

.imageBox {

    margin-left: 20px;
}

#body3 {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#uploader {
    -webkit-apperance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
}


#editProfile #deleteModal {
    margin-top: 5%px;

}

.carousel {
    margin-top: 3%;
    height: 500px;
}



body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-image: url(http://clipart-library.com/images/6Ty5GE6ac.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background: linear-gradient(rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.1)), url(http://clipart-library.com/images/6Ty5GE6ac.jpg);

}

main {
    min-height: 100%;
    flex: 1 0 auto;
}

#searchCard,
#stats {

    margin-top: 40px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.7), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    border-radius: 60px;
    opacity: .9;
    border: 1px orange;

}

#locationSearchInput:focus,
#profileSearchInput:focus {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 black;
    -moz-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black;
    border: 1px orange;
    border-radius: 60px;
    opacity: .9;
}

.active {
    color: black!important;
}

.range-field {
    padding-top: 3%;
    text-align: center;
    background-color: white;
}

footer {
    bottom: 0;
    width: 100%;
    opacity: .9;
    margin-top: 5%;
}

.footerLink {
    color: black;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    background-color: #90a4ae;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid #90a4ae;
}

#stats {
    overflow: auto;
    position: scroll;
    height: 550px;
    margin-bottom: 10px;
    margin-right: 10px;
    opacity: .9;
    border-radius: 60px;
}

#searchCard {
    padding-bottom: 108px;
    overflow: auto;
    opacity: .9;
    border-radius: 60px;
}


.userStuff {
    margin-top: 10%;
    padding-bottom: 108px;
    overflow: auto;
    opacity: .9;
    border-radius: 60px;
}

#profileContents {
    margin-top: 60px;
    margin-bottom: 5%;
    opacity: .9;
    border-radius: 60px;

}


#siteInfo {
    margin-top: 10%;
}

#questions {
    border-radius: 60px;
    opacity: .9;
}

#body3 {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 6px 6px 6px 6px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#uploader {
    -webkit-apperance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;
}

#modal2 {
    height: 500px;
    /*display: flex;*/
    text-align: center;
    background-image: url(http://clipart-library.com/images/6Ty5GE6ac.jpg)
}

#userImage #userCard {
    margin-left: 5%;
    margin-bottom: 10%;
}





.infoRow {
    text-shadow: 2px 2px black;
}

.accountInfo {
    color: LightSeaGreen;

}

#profilePic {
    margin-top: 10%;
}


#searchImage {
    margin-top: 3%;
    height: 200px;
    width: 200px;
    margin-left: 3%;
}

@media screen and (max-width: 750px) and (min-width: 200px) {


    footer {
        bottom: 3;
        width: 100%;
        opacity: .9;
        margin-top: 5%;
    }

  
    #searchImage {
        margin-left: 15%;
        margin-top: 3%;
        height: 120px;
        width: 200px;
    }

    .newsCard {
        width: 300px;
    }

    .userCard {
        width: 300px;
        height: 470px;

    }


    .searchCard {
      
        width: 300px;
        height: 400px;

    }

    #stats {
        width: auto;
        overflow: auto;
        position: scroll;
        height: 550px;
        margin-bottom: 10px;
        margin-left: 5%;
        opacity: .9;
        border-radius: 60px;
    }

    .carousel {
        width: 360px;
        height: 500px;
        padding: 30px;
    }

}
