#userImage {
    padding: 80px;
    margin-top: 50px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.7), 0 10px 25px 0 rgba(0, 0, 0, 0.19);

}


.userInfo {
    padding: 20px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.7), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-color: grey
}

.imageBox {
    margin-left: 20px;

}

#editProfile {
    margin-left: 9%;
    background-color: grey;
    color: black;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(http://classicrock.cms.vipology.com/wp-content/uploads/sites/4/brickwall-background.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background: linear-gradient(rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.1)), url(http://classicrock.cms.vipology.com/wp-content/uploads/sites/4/brickwall-background.jpg);

}

main {
    flex: 1 0 auto;
}

#searchCard,
#stats {
    margin-top: 40px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.7), 0 10px 25px 0 rgba(0, 0, 0, 0.19);

}

#locationSearchInput:focus,
#profileSearchInput:focus {
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 1px 0 0 black;
    -moz-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black;
}

.active {
    color: black!important;
}

.footerLink {
    color: black;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    background-color: #90a4ae;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid #90a4ae;
}

#stats {
    overflow: auto;
    position: absolute;
    height: 550px;
    margin-bottom: 100px;
    margin-right: 10px;
}

#searchCard {
    padding-bottom: 108px;
    overflow: auto;
}

#profileContents {
    margin-top: 60px;
}